/* .header_section {
    position: fixed;
    top: 44px;
    right: 0;
    left: 0;
    z-index: 80;
    width: 100%;
} */


.header_section {
    position: fixed;
    top: 44px;
    right: 0;
    left: 0;
    z-index: 80;
    width: 100%;
    transition:
        top 0.4s ease,
        background-color 0.4s ease,
        backdrop-filter 0.4s ease;
}

.sticky {
    top: 0;
    backdrop-filter: blur(15px);
    background-color: white;
    width: 100%;
   box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}